@import url('./color.css');

#page {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;

    background-color: var(--bg);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
    overflow-y: hidden;
}

#mainFrame {
    aspect-ratio: 16/9;
    height: 75%;
    width: 75%;

    background-color: var(--container-bg);
    border: 2px solid var(--container-border);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#logo {
    aspect-ratio: 2/1;
    width: 150px;
    padding-top: 4em;
}

#title {
    font-size: 3em;
    font-weight: 600;
}

#loginInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.input {
    display: flex;
    justify-content: center;
}

#loginInput > input {
    width: 50%;
    padding: 1em;
    border: 1px solid var(--tr);
    border-radius: 4px;
    color: var(--fg);
    margin: .25em;
}

#submit {
    width: fit-content !important;
    padding: 1em 3em !important;
    margin: 1em !important;
}

#forget {
    color: var(--tr);

    padding-bottom: 1em;
}