#top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
}

#top > *:first-child {
    padding-right: 2em;
}

#top > *:last-child {
    padding-right: 2em;
}

#logo {
    padding-top: 0;
}

.table {
    width: 100%;
    padding: 6em 2em 20em 2em;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-cell {
    display: flex;
    flex-direction: column;
}